{#
    O laço abaixo varre as mensagens contidas no método flash,
    usando a chave que eu criei: 'succes'
#}

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success mt-3">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('warning') %}
    <div class="alert alert-warning mt-3">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('errors') %}
    <div class="alert alert-danger mt-3">
        {{ message }}
    </div>
{% endfor %}