{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ chave }}</h1>





    {# ========= FORMATACAO CSS PARA TRABALHAR A NOITE ========== #}
{#    <style>#}
{#        * {#}
{#            background-color: #373c49;#}
{#            color: #ced4e0;#}
{#        }#}
{#    </style>#}
{% endblock %}

{% block title %}
    Postagem: {{ chave }}

{% endblock %}

